.block {
  position: relative;
  display: flex;
  width: 100%;
}

.block span {
  min-height: 30px;
  outline: none;
  flex-grow: 1;
}

.toggle-container {
  display: flex;
  min-width: 30px;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 4px;
}

.toggle {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
  padding: 0;
}

.toggle::after {
  content: "◀";
  font-size: small;
}

.toggle.expanded {
  transform: rotate(-90deg);
}
